
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title {
    <title>@ViewBag.Title</title>
}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Contact</h2>
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- start contact section -->
<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>We are wating to assist you..</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quos.</p>
                    </div>
                    <!-- contact map -->
                    <div class="aa-contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1648.1346892686174!2d106.67931856582157!3d10.738568493979358!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fad03bf2257%3A0xafb1cc30716fdfab!2zxJBhzKNpIGhvzKNjIEPDtG5nIG5naOG7hyBTYcyAaSBHb8yAbg!5e0!3m2!1svi!2s!4v1553752622950" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>CaseForest</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum modi dolor facilis! Nihil error, eius.</p>
                                        <p><span class="fa fa-home"></span>xxxxx-xxx-xxxxx-xxx</p>
                                        <p><span class="fa fa-phone"></span>01234567890</p>
                                        <p><span class="fa fa-envelope"></span>Email: caseforest@xxx.com</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

